body{
    background-color: aqua;
}
h1{
    color: rgb(255, 187, 127);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
h2{
    color: beige;
    align-content: center;
}
#tops{
    color: black;
    font-size: larger;
    text-align: center;
}
.txt{
    color: rgb(155, 127, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h4,h5,p{
    color: rgb(204, 127, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
}

