*{
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;

}
body{
    width: 100%;
    background-color: rgb(255, 255, 255);
}
header{
    height: 60px;
    width: 100%;
    background-color: rgb(87, 74, 74);
}